@charset "UTF-8";
/* #=id (identificador individual em css e em html)
   .=class (identificador de classe em css e em html)
*/

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: beige;
    color: dark;
}
h1 {
    color: darkred;
    text-align: center;
    margin-bottom: 30px;
}
a {
    color: darkblue;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
#one {
    background-color: whitesmoke;
    padding: auto;
    margin: auto;
    max-width: 800px;
    height: 450px;
}
#two {
    background-image: linear-gradient( to right, #c5d1e07f, #c5d1e000);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.079);
}
#three {
    background-image: linear-gradient( to right, #c5d1e07f, #c5d1e000);
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.079);
}
p{
    background-color: aliceblue;
    max-width: 800px;
    margin: auto;
}