@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    ---font1: Verdana, Geneva, Tahoma, sans-serif;
    ---font2: 'Passion One';
    ---font3: 'Sriracha';
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
html, body{
    background-color: antiquewhite;
    min-height: 100vh;
    font-family: var(---font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
    header>h1{
        padding-top: 50px;
        font-variant: small-caps;
        font-family: var(---font2);
        font-size: 8vw;
    }
    header>p{
        padding-bottom: 50px;
        padding-top: 20px;
        font-size: 4vw;
    }

a{
    color: white;
    text-decoration: none;
}
    a:hover{
        text-decoration: underline;
    }
section{
    padding: 10vh 30px;
    line-height: 2em;
    font-family: var(---font3);
    font-size: 2.5vw;
}
    section.n{
        background-color: white;
        color: black;
    }
    section.i{
        background-color: rgb(67, 66, 66);
        color: white;
    }
        section.i>p{
            display: inline-block;
            padding: 7px;
            background-color: rgba(0, 0, 0, 0.474);
        }

footer{
    background-color: black;
    color: white;
    text-align: center;
}